<table summary="Table Showing Basic Event Details">
<tr>
		<td><b>Delete Event</b></td>
		<td><b>Title</b></td>
		<td><b>Duration/Mins<b></td>
		<td><b>Attend?</b></td>
		<td><b>Watch<b></td>
		<td><b>Vote</b></td>
</tr>