<h1>Events I'm Hosting</h1>
<%= link_to "Create Event!", new_event_path %>

<%= will_paginate(@events)%>
<ul class = "users">
	<table summary="Index listing of events">
	<%= render @events %>
	</table>
</ul>



