<html>

<head>
</head>

<body>
	<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul>
			<li><a href="#tabs-1" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Core Event</a>
			</li>
			<li><a href="#tabs-2" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Event Properties</a>
			</li>
			<li><a href="#tabs-3" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Extras</a>
			</li>
		</ul>
	
	<div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
		<div id="stylized" class="myform">
			<form id="form" name="form" method="post" action="index.html">
				<h1>Core Event Details</h1>
				<p>Please enter your Event details on the following pages</p>
				<label>Title:
					<span class="small">Pick a Snappy One!</span>
				</label>
				<input type = "text" name = "event_title" id="event_title" />
				<label>Date:
					<span class="small">Pick your date:</span>
				</label>
				<input type="text" id="datepicker"></p>
				
				<label>Content: 
					<span class="small">Add some flavour!</span>
				</label>
				
				<textarea name="styled-textarea" id="styled" onfocus="this.value=''; setbg('#e5fff3);" onblur="setbg('white')">Event Content here...
				</textarea>

				<div class="spacer"></div>
				<button type="submit" class="">Create Event</button>
			</form>
		<a class="prevtab" href="#">< Prev</a>
		<a class="nexttab" href="#">Next ></a>
		</div>
	</div>
	
	<div id="tabs-2" class ="ui-tabs-panel ui-widget-content ui-corner-bottom">
		<div id="stylized" class="myform" >
			<h1>Meeting Configuration</h1>
			<label for="duration">Duration:
				<span class="small">(15 Min increments):</span>
			</label>
			<input type="text" id="duration" style="border: 0; color: #f6931f; font-weight: bold;" />
			<p>
				
			</p>
			
			<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				<a style="left: 0%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
			</div>
		<a class="prevtab" href="#">< Prev</a>
		<a class="nexttab" href="#">Next ></a>
		</div>
	</div>
	
	<div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
		<a class="prevtab" href="#">< Prev</a>
	</div>
</div>

</body>
</html>
		