<h1>What's the Buzz, Cognito?</h1>
<p><%= link_to "Top 10 Most Popular Events", popular_path %></p><p>    <%= link_to "Top 10 Most Popular Tags", "/popular/tags" %></p>
<ul class = "users">
	<table summary="Index listing Top 10 Popular Tags by Frequency">
	<tr>
	  <td>Tag</td>
	  <td># Votes</td>
	</tr>
	<%= render @top_tags %>
	</table>
</ul>
