<div id="wrapper">
    <ul class="tabsNJ">
        <li><a href="#" class="defaulttab" rel="tabs1">Core Event Details</a></li>
        <li><a href="#" rel="tabs2">Tab #2</a></li>
        <li><a href="#" rel="tabs3">Tab #3</a></li>
    </ul>
 
    <div class="tab-content" id="tabs1">
	  
	</div>
    <div class="tab-content" id="tabs2">Tab #2 content</div>
    <div class="tab-content" id="tabs3">Tab #3 content</div>
</div>