<tr>
	<td>Resource Ext/Int: <%= @resources.ext_int_indicator %></td>
	<td>Resource URL: <%= @resources.resource_url %></td>
	<td>Resource Description: <%= @resources.resource_description %></td>
</tr>